# FreeLinX drivers .gitignore
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.a
*.symvers
*.order
.tmp_versions/
.cache.mk
.*.cmd
.*.d

# Built binaries
flxdriver/flxdriver
flx3dtest/flx3dtest
audio/tinyalsa/tinymix
audio/tinyalsa/tinyplay
audio/tinyalsa/tinycap
audio/tinyalsa/tinypcminfo
audio/tinyalsa/libtinyalsa.a
modules/flx-dummy/flx_dummy.ko
